<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
    <head>
        <title>{% if page.title %}{{ site.name }}: {{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="{{ site.author | escape }}">
        <meta name="description" content="{{ site.description | escape }}">
        <link rel="canonical" href="{{ page.url | absolute_url }}">
        <link rel="icon" href="{{ site.base }}/assets/image/favicon.ico" type="image/x-icon">
        <meta property="og:title" content="{{ site.name }}">
        <meta property="og:description" content="{{ site.description | escape }}">
        <meta property="og:image" content="{{ site.url }}/assets/image/headshot.jpg">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta name="twitter:card" content="summary">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ site.base }}/css/group.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E5NPEFCKRH"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-E5NPEFCKRH');
        </script>
    </head>
    <body>
        <div class="container">
            <div class="header d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                <a href="{{ site.base }}/" class="site-title">
                    {{ site.name }}
                </a>
                <ul class="nav nav-pills justify-content-center">
                    {% assign shorturl = page.url | replace:'.html','' | replace:'index','' %}
                    {% for item in site.navigation %}
                        {% assign itemshorturl = item.link | replace:'.html','' %}
                        {% assign maybe-active = '' %}
                        {% if item.title == 'Research' and page.layout == 'project' %}
                            {% assign maybe-active = 'active' %}
                        {% endif %}
                        {% if itemshorturl == shorturl %}
                            {% assign maybe-active = 'active' %}
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {{ maybe-active }}"
                               href="{{ site.base }}{{ item.link }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% if page.image and page.layout != 'project' and page.image_position != 'bottom' %}
                <img src="{{ site.base }}{{ page.image }}"
                     alt="{{ page.title }}"
                     style="max-width: 400px"
                     class="img-fluid mx-auto d-block mb-4"/>
            {% endif %}

            {% if page.notitle != true %}
                <h1>{{ page.title }}</h1>
            {% endif %}

            {{ content }}

            <div class="footer">
                <p>
                    {% for item in site.social %}
                        <a href="{{ item.url }}" title="{{ item.title }}">
                            <span class="fa fa-{{ item.icon }}" aria-hidden="true"></span>
                            {{ item.title }}
                        </a>{% unless forloop.last %}<span class="footer-separator">/</span>{% endunless %}
                    {% endfor %}
                </p>
            </div>
        </div>

        <script type="text/javascript"
                src="{{ site.base }}/js/srcset-polyfill.js"></script>
    </body>
</html>
